

.approach{
 

}
.approach-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5rem 0px;
    flex-direction: column;

}
.approach-top{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.approach-top h1{
    text-transform: capitalize;
    color:rgba(27, 72, 73,1) ;
    position: relative;
}
.approach-top h1::after{
    content: "";
    position: absolute;
    width: 60px;
    height: 5px;
    border-radius: 2px;
    bottom: -20px;
    background-color: rgb(219,161,14);
    display: flex;
    align-items: center;
    justify-content: center;
    left: 50px;
}
.approach-top p{
    width: 50%;
    text-align: left;
    margin: 6rem 0rem;
    line-height: 1.4;
    color:rgba(27, 72, 73,0.5) ;
}
.approach-below{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .6rem;
}
.approach-1{
    width: 200px;
    height: 200px;
    position: relative;
   background-color: black;
   display: flex;
   align-items: center;
   justify-content: center;
   
}

.approach-1:hover  .approach-element{
    transform: translateY(-50px);
    z-index: 2;
    background-color: black;
}
.approach-1   .btn {
    position: absolute;
    bottom: 0;
    transform: translateY(50px);
    transition: all 0.4s ease-in-out;
    opacity: 1;
     padding: .4rem .6rem;
     border: 1px solid rgb(248, 246, 246);
     background-color: black;
     color: rgb(219,161,14);
     letter-spacing: 1px ;
     text-transform: capitalize;
     border-radius: 5px;
     
}
.approach-1:hover  .btn{
    transform: translateY(20px);
    bottom: 30px;
    opacity: 1;
   
}

.approach-element{
    transition: all 0.4s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background-color: rgb(219,161,14);
    padding: 2rem;
    color: white;
    overflow: hidden;
}
.approach-element h3{
    font-size: 20px;
    margin-top: 1.3rem;
    font-weight: 400;
}
.approach-element .bars{
    font-size: 20px;
   
    font-weight: 300;
}


@media screen and (max-width: 850px){
  .approach-top p{
 
    width: 80%;
  }
  .approach-below{
 
    display: grid;
    grid-template-columns: 1fr 1fr; 
    row-gap: 1rem;
  }
  }
@media screen and (max-width: 480px){
  .approach-top p{
 
    width: 80%;
  }
  .approach-below{
 
    display: grid;
    grid-template-columns: 1fr 1fr; 
    row-gap: 1rem;
  }
  }
  
  /* {}[] */