.footer{
    height: 100px;
  background-color: rgba(27, 72, 73);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.footer h2{
   color: white;
}
.footer h2 span{
   color: rgb(219,161,14);
}
.footer svg{
   color: white;
   font-size: 1.5rem;
}